{
  "extends": "airbnb",
  "ecmaFeatures": {
    "generators": true
  },
  "rules": {
    "react/prop-types": [2, {
      "ignore": ["children", "dispatch", "className"],
    }],
  },
  "globals": {
    "__DEV__": false,
    "__CLIENT__": false,
  }
}
