{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "ecmaFeatures": {
    "generators": true
  },
  "rules": {
    "react/prop-types": [2, {
      "ignore": ["children", "dispatch", "className"],
    }],
    "new-cap": 0
  },
  "globals": {
    "__DEV__": false,
    "__CLIENT__": false,
  }
}
