/**
 * Global Styles
 */

/*Vendor*/
@import "normalize.css";
@import "font-awesome";

@import './variables.css';

/*Layout*/
:global html {
  box-sizing: border-box;
  height: 100%;
}

:global *,
:global *:before,
:global *:after {
  box-sizing: inherit;
}

:global body,
:global #root {
  height: 100%;
}

/*Typography*/
:global html {
  font-size: var(--baseFontSize);
}

:global body {
  font-family: var(--bodyFont);
}
