/**
 * Global Styles
 */

@import "normalize.css";

/*Layout*/
:global html {
  box-sizing: border-box;
  height: 100%;
}

:global *,
:global *:before,
:global *:after {
  box-sizing: inherit;
}

:global body,
:global #root {
  height: 100%;
}

/*Typography*/
:global html {
  font-size: 16px;
}

:global body {
  font-family: "Lato";
}
