:root {
  /*Colors*/
  --primaryColor: #FF9900;
  --secondaryColor: #00B4FF;
  --uiPrimaryColor: #515151;
  --backgroundColor: #EEEEEE;

  /*Sizing*/
  --headerHeight: 3rem;

  /*Typography*/
  --baseFontSize: 16px;
  --bodyFont: 'Lato';
}
