@import "styles/variables";

.root {
  position: fixed;
  top: 0; left: 0; right: 0;
  height: var(--headerHeight);

  background-color: white;
  box-shadow: 0 0 4px var(--uiPrimaryColor);
}

.desktop {
  display: flex;
}

.mobile {
  display: flex;
}

.logo {
  position: relative;
}

.logo img {
  height: 100%;
  padding: 0.5rem;
}

.primary-link {
  line-height: var(--headerHeight);
  padding: 0 0.5rem;
  text-decoration: none;
  color: inherit;
}

.right-menu {
  margin-left: auto;
}
